body{
    background-color: crimson;
    font-size: 18px;
    font-family: "Waiting for the Sunrise", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
.scorefield{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    font-weight: 1000;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.container{
    width: 600px;
    height: 600px;
    border: 5px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    top: 10%;
    left: 27%;
}
.box1{
    background-color: red;
    box-sizing: border-box;
    border: 5px solid black;
}
.box2{
    background-color: yellow;
    box-sizing: border-box;
    border: 5px solid black;
}
.box3{
    background-color: blue;
    box-sizing: border-box;
    border: 5px solid black;
}
.box4{
    background-color: white;
    box-sizing: border-box;
    border: 5px solid black;
}
.box5{
    background-color: aqua;
    box-sizing: border-box;
    border: 5px solid black;
}
.box6{
    background-color: orange;
    box-sizing: border-box;
    border: 5px solid black;
}
.box7{
    background-color: lime;
    box-sizing: border-box;
    border: 5px solid black;
}
.box8{
    background-color: hotpink;
    box-sizing: border-box;
    border: 5px solid black;
}
.box9{
    background-color: lime;
    box-sizing: border-box;
    border: 5px solid black;
}
.box10{
    background-color: blue;
    box-sizing: border-box;
    border: 5px solid black;
}
.box11{
    background-color: red;
    box-sizing: border-box;
    border: 5px solid black;
}
.box12{
    background-color: hotpink;
    box-sizing: border-box;
    border: 5px solid black;
}
.box13{
    background-color: aqua;
    box-sizing: border-box;
    border: 5px solid black;
}
.box14{
    background-color: yellow;
    box-sizing: border-box;
    border: 5px solid black;
}
.box15{
    background-color: white;
    box-sizing: border-box;
    border: 5px solid black;
}
.box16{
    background-color: orange;
    box-sizing: border-box;
    border: 5px solid black;
}
.startbutton{
    width: 100px;
    height: 50px;
    background-color: gray;
    color: black;
    border-radius: 10px;
    border: 5px solid black;
    position: absolute;
    bottom: 52%;
    right: 16.5%;
}
.againbutton{
    width: 100px;
    height: 50px;
    background-color: gray;
    color: black;
    border-radius: 10px;
    border: 5px solid black;
    position: absolute;
    bottom: 60%;
    right: 16.5%;
}

